/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
	font-size: 14px;
    color: #000;
    background: #f4f9ff;
    font-family: sans-serif; 

}

/*@font-face {
  font-family: poppins;
  src: url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap");
}*/



/*common*/

h2 {
	font-size: 50px;
	font-weight: 600;
	color: #000;
}

h3 {
	line-height: 30px;
}

h4 {
	font-weight: bold;
	font-size: 32px;
}


ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.ptb {
	padding: 40px 0;
}

.grey {
    color: #888;
}

.bullets li {
	padding-bottom: 30px;
}

.inner-logo {
    margin-top: 20px;
}

small {
    color: #000 !important;
}

.inner-tile {
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    text-align: center;
}

.inner-tile2 {
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 25px;
    border: 1px solid #ccc;
    text-align: left;
}

.input-group {
    margin: 20px 0;
}

.input-group input {
    border: none;
    box-shadow: none;
    background: #f4f9ff;
}

.inner-tile2 a.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #05c2b9;
    border: none;
    border-radius: 0px 4px 4px 0px;
    text-decoration: none;
    cursor: pointer;
}